# Each line is a file pattern followed by one or more owners.
# Order is important. Last matching pattern has the most
# precedence

# Default owner(s) for everything. Added to PR reviews
* @cdcabrera

# CODEOWNERS permissions
/.github/CODEOWNERS @barnabycourt @cdcabrera

# Automated dependency updates
package*.json @vbusch @kflahert @cdcabrera @lindseyburnett
/.tekton/ @vbusch @kflahert @cdcabrera @barnabycourt @lindseyburnett
