# editor
.idea/
.vscode/

# dependencies
*.eslintcache
node_modules
.pnp*

# logs
dependency-update-log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# coverage
coverage

# repo
dist
build
public/apps
public/beta
public/config
public/locales/*.json
!public/locales/locales.json
!public/locales/en*.json
!.env
.env*.local
.chrome
.proxy
.docs
.openapi
.cache
