.curiosity-banner-messages {
  padding-left: var(--pf-c-page__main-section--PaddingLeft);
  padding-right: var(--pf-c-page__main-section--PaddingRight);
  padding-bottom: var(--pf-global--spacer--md);
}
