.curiosity {
  .curiosity-error {
    &__link-row {
      display: flex;
      flex-direction: row-reverse;
    }

    &__link {}

    &__textarea {
      display: block;
      resize: vertical;
      width: 100%;
      white-space: pre-wrap;
      border-color: var(--pf-global--BorderColor--100);
    }

    &__product-onload {
      margin-bottom: var(--pf-global--spacer--md);
      margin-left: var(--pf-global--spacer--md);
      margin-right: var(--pf-global--spacer--md);
      margin-top: var(--pf-global--spacer--md);
    }
  }
}
