.curiosity {
  .curiosity-error {
    &__link {
      @extend .curiosity-page-section__version-link;
    }

    &__textarea {
      display: block;
      resize: vertical;
      width: 100%;
      white-space: pre-wrap;
      border-color: var(--pf-global--palette--black-400);
    }
  }
}
