.curiosity-select__no-toggle-text {
  span.pf-c-select__toggle-arrow {
    margin-left: var(--pf-c-select__toggle-arrow--MarginRight);
  }

  span.pf-c-select__toggle-text {
    display: none;
  }
}

.curiosity-input__display-name {
  &.pf-c-form-control.pf-m-search {
    padding-left: var(--pf-global--spacer--sm);
    background-position: var(--pf-c-form-control--m-icon--BackgroundPositionX) var(--pf-c-form-control--m-icon--BackgroundPositionY);
  }
}
