.curiosity-select__no-toggle-text {
  span.pf-c-select__toggle-arrow {
    margin-left: var(--pf-c-select__toggle-arrow--MarginRight);
  }

  span.pf-c-select__toggle-text {
    display: none;
  }
}

.curiosity-select__position-right {
  > .pf-c-select__menu {
    right: 0
  }
}
