.curiosity {
  .curiosity-icon {
    &__info {
      color: var(--pf-global--palette--blue-300);
    }

    &__question {
      color: var(--pf-global--palette--black-500);
      font-size: var(--pf-global--FontSize--md);
    }

    &__f-infinity {
      cursor: default;
      line-height: 1rem;
    }

    &__dash {
      width: 1rem;
      height: 1rem;

      vertical-align: baseline;
      display: inline-block;

      > svg {
        position: relative;
        display: block;
        top: -0.25em;
      }
    }
  }

  span.curiosity-icon__question {
    display: inline-block;
    padding-left: var(--pf-global--spacer--sm);
    padding-right: var(--pf-global--spacer--sm);
  }

  sub.curiosity-icon__info, sup.curiosity-icon__info {
    padding-left: var(--pf-global--spacer--sm);
    padding-right: var(--pf-global--spacer--sm);
  }
}
