.curiosity {
  &.pf-c-page__main-section {
    box-shadow: var(--pf-global--BoxShadow--sm);

    .pf-c-card {
      box-shadow: none;
    }
  }

  .curiosity-inventory-card {
    .pf-c-card__header {
      padding-bottom: 0;
    }

    .pf-c-card__title {
      padding: 0;
    }

    .pf-c-card__body {
      padding-left: 0;
      padding-right: 0;
      min-height: 300px;
    }

    /**
     * FixMe: PF hides paging functionality, remove this block when restored
     * Appears paging functionality is hidden below 768px, this restores it.
     */
    @media (max-width: $pf-global--breakpoint--md) {
      .pf-c-pagination:not(.pf-m-bottom) .pf-c-options-menu,
      .pf-c-pagination:not(.pf-m-footer) .pf-c-options-menu,
      .pf-c-pagination:not(.pf-m-bottom) .pf-c-pagination__nav {
        display: inherit;
        visibility: inherit;
      }

      .pf-c-options-menu__toggle-button {
        display: none;
      }
    }
  }

  // ToDo: reevaluate this fix, originally for non-expandable table rows to aid in alignment with heading
  .curiosity-inventory-list {
    &.pf-c-table.pf-m-compact tr:not(.pf-c-table__expandable-row) > :first-child {
      padding-left: var(--pf-c-table--m-compact--cell--first-last-child--PaddingLeft);
    }

    .pf-c-label {
      padding-top: 1px;
      padding-bottom: 1px;
      font-size: 0.9em;
    }
  }

  .curiosity-guests-list {
    &.pf-c-table.pf-m-compact tr > *:last-child {
      padding-right: var(--pf-c-table--m-compact--cell--first-last-child--PaddingRight);
    }

    @media (max-width: $pf-global--breakpoint--md) {
      &.pf-c-table.pf-m-compact tr:not(.pf-c-table__expandable-row) > :first-child {
        padding-left: 0;
      }

      &.pf-c-table.pf-m-compact > tbody > tr {
        padding-top: 0;
      }
    }
  }
}
