.curiosity {
  .curiosity-inventory-card {
    &.pf-c-card {
      box-shadow: none;
    }

    .pf-c-card__header {}

    .pf-c-card__title {
      padding: 0;
    }

    .pf-c-card__actions {
      padding-left: 0;
      width: 100%;

      .pf-c-toolbar {
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;

        .pf-c-toolbar__content {
          padding-left: 0;
          padding-right: 0;

          .pf-c-toolbar__group:nth-child(2) {
            margin-left: auto;
          }
        }
      }
    }

    .pf-c-card__body {
      padding-left: 0;
      padding-right: 0;
      min-height: 300px;
    }

    /**
     * FixMe: PF hides paging functionality, remove this block when restored
     * Appears paging functionality is hidden below 768px, this restores it.
     */
    @media (max-width: $pf-global--breakpoint--md) {
      .pf-c-pagination:not(.pf-m-bottom) .pf-c-options-menu,
      .pf-c-pagination:not(.pf-m-footer) .pf-c-options-menu,
      .pf-c-pagination:not(.pf-m-bottom) .pf-c-pagination__nav {
        display: inherit;
        visibility: inherit;
      }

      .pf-c-options-menu__toggle-button {
        display: none;
      }
    }
  }

  .curiosity-tabs-container {
    .curiosity-inventory-card {
      .pf-c-card__body {
        padding-top: 0;
      }
    }
  }

  .curiosity-inventory-list {
    // FixMe: an unknown border-top-width appears?
    &.pf-c-table.pf-m-compact tbody {
      border-top-width: 0;
    }

    .pf-c-table__toggle {
      padding-left: 0;

      .pf-c-button {
        padding-left: var(--pf-c-table--m-compact--cell--first-last-child--xl--PaddingLeft);
        padding-right: inherit;
      }
    }

    // FixMe: Disable the PF table header implemented expand/collapse arrow
    // Questionable behavior, throws an error when clicked, seems to appear randomly dependent on
    // environment packages, and opens/expands based on the first collapsible only.
    // Easier to disable for now.
    thead .pf-c-table__toggle {
      visibility: hidden;
    }

    .pf-c-label {
      padding-top: 1px;
      padding-bottom: 1px;
      font-size: 0.9em;
    }

    .pf-c-button.pf-m-link.pf-m-inline {
      word-break: break-word;
    }
  }

  .curiosity-guests-list {
    .curiosity-table__tr > :first-child {
      padding-left: calc(var(--pf-c-table--m-compact--cell--first-last-child--xl--PaddingLeft) * 2);
    }

    @media (max-width: $pf-global--breakpoint--md) {
      .curiosity-table__tr > :first-child {
        padding-left: 0;
      }

      &.pf-c-table.pf-m-compact > tbody > tr {
        padding-top: 0;
      }
    }
  }
}
