.curiosity {
  .curiosity-optin-form {
    .pf-c-form__label {
      font-size: inherit;
      line-height: inherit;
    }

    .pf-c-form__label-text {
      font-weight: inherit;
    }

    .pf-c-check {
      margin-left: var(--pf-global--spacer--md);
    }
  }

  .curiosity-optin-tour {
    text-align: center;
  }

  .curiosity-optin-image {}
}
