.curiosity {
  &.pf-v5-c-page__main-section {}
}

.curiosity-page-messages,
.curiosity-page-toolbar,
.curiosity-page-section,
.curiosity-page-columns-column {
  min-width: 320px;
  position: relative;
}

.curiosity-page-section {
  &__tabs, &__graphs {
    margin-bottom: var(--pf-global--spacer--md);
    margin-left: var(--pf-global--spacer--md);
    margin-right: var(--pf-global--spacer--md);
  }

  &__graphs .curiosity-graph__standalone,
  &__graphs .curiosity-graph__totals {
   // margin-bottom: var(--pf-global--spacer--md);

    &:first-child {
      margin-top: var(--pf-global--spacer--md);
    }

    &:last-child {
    //  margin-bottom: 0;
    }
  }
}

.curiosity-page-columns > .curiosity-page-columns-column {
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  @media (min-width: $pf-global--breakpoint--sm) {
    flex-basis: 0;
    margin-left: var(--pf-global--spacer--sm);
    margin-right: var(--pf-global--spacer--sm);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
