.curiosity {
  &.pf-c-page__main-section {}
}

.curiosity-page-messages,
.curiosity-page-toolbar,
.curiosity-page-section,
.curiosity-page-columns-column {
  min-width: 320px;
  position: relative;
}

.curiosity-page-columns > .curiosity-page-columns-column {
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  @media (min-width: $pf-global--breakpoint--sm) {
    flex-basis: 0;
    margin-left: var(--pf-global--spacer--sm);
    margin-right: var(--pf-global--spacer--sm);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
