.curiosity-page-messages,
.curiosity-page-toolbar,
.curiosity-page-section,
.curiosity-page-columns-column {
  min-width: 320px;
  position: relative;
}

.curiosity-page-section {
  &__tabs, &__graphs, &__toolbar, &__messages, &__missing, &__optin {
    // margin-bottom: var(--pf-global--spacer--sm);
    margin-left: var(--pf-global--spacer--md);
    margin-right: var(--pf-global--spacer--md);
  }

  &__tabs {
    min-height: 775px; // used to minimize page load-jump
  }

  &__version {
    margin-top: calc(var(--pf-global--spacer--md) * -1);
    margin-left: var(--pf-global--spacer--md);
    margin-right: var(--pf-global--spacer--md);
  }
}

.curiosity-page-section__version-link {
  color: var(--pf-global--color--gray) !important;
  font-size: var(--pf-global--FontSize--xs);

  &:hover {
    color: var(--pf-global--color--gray-dark) !important;
  }
}
