.curiosity {
  &.curiosity-missing-view {
    box-shadow: none;
    padding: 1em;

    .pf-v5-c-card {
      &.pf-v5-m-hoverable {
        cursor: pointer;

        .curiosity-missing-view__card-description {
          color: var(--pf-v5-global--Color--200);
        }
      }
    }
  }
}
