.curiosity-select {
  position: relative;

  &-pf__no-toggle-text {
    > button {
      div {
        display: none;
      }
      span {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
  }

  &-pf__position-right {
    > button + ul {
      right: 0;
    }
  }

  &__inline {
    display: inline-block;
  }

  &__not-inline {
    width: 100%;
  }
}
