.curiosity {
  /**
   * FixMe: PF CSS, appears updating resources causes an issue with an aggressive selector
   * This is related to responsive table headers on browser widths below 800px. Remove this
   * block once PF has a fix exposed via the platform.
   */
  tr.pf-v5-c-table__expandable-row.pf-v5-m-expanded > td:before {
    content: '';
  }

  .curiosity-table__td-expand-expanded.curiosity-table__td-expand-wrapper {
    // tr.pf-v5-c-table__expandable-row.pf-v5-m-expanded > td {
    padding: 0;
    padding-bottom: var(--pf-v5-c-table--m-compact-th--PaddingBottom);

    // > table thead tr {
    // border-width: 0;
    // }
  }

  /**
   * FixMe: PF CSS, appears nested tables within expandable tables can't have borders disabled?
   * Also appears expandable tables can't have borders removed. Remove this block once PF has a fix.
   */
  table.curiosity-table-no-border,
  table.curiosity-table-no-border > thead > tr,
  table.curiosity-table-no-border > tbody > tr,
  table.pf-v5-m-no-border-rows,
  table.pf-v5-m-no-border-rows > thead > tr,
  table.pf-v5-m-no-border-rows > tbody > tr {
    border-width: 0
  }

  .curiosity-table {
    @media (min-width: $pf-v5-global--breakpoint--md) {
      &__td.pf-v5-m-width {
        @for $tdWidth from 0 through 100 {
          &-#{$tdWidth} {
            width: percentage(div($tdWidth, 100));
          }
        }
      }
    }
  }

  .curiosity-table-scroll {
    position: relative;
    overflow: hidden;
  }

  .curiosity-table-scroll-loader__custom,
  .curiosity-table-scroll-loader__spinner {
    background: var(--pf-v5-global--BackgroundColor--100);
    bottom: 0;
    left: 0;
    position: absolute;
    width: calc(100% - 40px);
    z-index: 2;
  }

  .curiosity-table-scroll-loader__spinner {
    display: inline-block;
    border-radius: 25%;
    left: inherit;
    right: 40px;
    padding: 2px;
    width: auto;
  }

  .curiosity-table-scroll-list,
  .curiosity-table-scroll-list__no-scroll {
    overflow-y: auto;
    min-height: calc(100% / 2);
    max-height: calc(100%);
    padding-bottom: 20px;
  }

  .curiosity-table-scroll-list__no-scroll {
    overflow-y: hidden;
    padding-bottom: inherit;

    @media (max-width: $pf-v5-global--breakpoint--md) {
      overflow-y: auto;
    }
  }
}
