.curiosity {
  /**
   * FixMe: PF CSS, appears updating resources causes an issue with an aggressive selector
   * This is related to responsive table headers on browser widths below 800px. Remove this
   * block once PF has a fix exposed via the platform.
   */
  // tr.pf-v5-c-table__expandable-row.pf-v5-m-expanded > td:before {
  //  content: '';
  // }

  .curiosity-table__td-expand-expanded.curiosity-table__td-expand-wrapper {
    padding: 0;
  }

  .curiosity-table {
    @media (min-width: $pf-global--breakpoint--md) {
      // Class defined in "components/table/tableHelpers.js"
      &__td.pf-m-width {
        @for $tdWidth from 0 through 100 {
          &-#{$tdWidth} {
            width: percentage(div($tdWidth, 100));
          }
        }
      }
    }
  }

  .curiosity-table-scroll {
    position: relative;
    overflow: hidden;
  }

  .curiosity-table-scroll-loader__custom,
  .curiosity-table-scroll-loader__spinner {
    background: var(--pf-global--BackgroundColor--100);
    bottom: 0;
    left: 0;
    position: absolute;
    width: calc(100% - 40px);
    z-index: 2;
  }

  .curiosity-table-scroll-loader__spinner {
    display: inline-block;
    border-radius: 25%;
    left: inherit;
    right: 40px;
    padding: 2px;
    width: auto;
  }

  .curiosity-table-scroll-list,
  .curiosity-table-scroll-list__no-scroll {
    overflow-y: auto;
    min-height: calc(100% / 2);
    max-height: calc(100%);
    padding-bottom: 20px;
  }

  .curiosity-table-scroll-list__no-scroll {
    overflow-y: hidden;
    padding-bottom: inherit;

    @media (max-width: $pf-global--breakpoint--md) {
      overflow-y: auto;
    }
  }
}
