.curiosity-toolbar {
  padding-left: var(--pf-c-page__main-section--PaddingLeft);
  padding-right: var(--pf-c-page__main-section--PaddingRight);

  .pf-c-toolbar__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.curiosity-page-columns-column {
  .curiosity-page-toolbar {
    .curiosity-toolbar {
      padding-left: var(--pf-global--spacer--lg);
      padding-right: var(--pf-global--spacer--lg);
    }
  }
}

.curiosity-input__display-name {
  &.pf-c-form-control.pf-m-search {
    /**
     * ToDo: review removing this once we update PF
     * Appears PF has a cascade issue once the bundle gets generated for search bg-image
     */
    background-image: var(--pf-c-form-control--m-search--BackgroundUrl);
    background-position: var(--pf-c-form-control--m-icon--BackgroundPositionX) var(--pf-c-form-control--m-icon--BackgroundPositionY);
    padding-left: var(--pf-global--spacer--sm);
  }
}
