.curiosity-toolbar {
  padding-left: var(--pf-c-page__main-section--PaddingLeft);
  padding-right: var(--pf-c-page__main-section--PaddingRight);

  &__content, &__content + div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.curiosity-page-columns-column {
  .curiosity-page-toolbar {
    .curiosity-toolbar {
      padding-left: var(--pf-global--spacer--lg);
      padding-right: var(--pf-global--spacer--lg);
    }
  }
}

.curiosity-card {
  .curiosity-toolbar {
    padding-bottom: inherit;
    padding-top: inherit;

    &__content {
      padding-left: inherit;
      padding-right: inherit;
    }
  }

  // graph toolbar
  &.curiosity-graph-card {
    .curiosity-card__actions {
      display: flex;
      margin: inherit;
      margin-left: auto;
      padding-left: 0;

      @media (max-width: $pf-global--breakpoint--sm) {
        margin-left: inherit;
      }

      & > .curiosity-select {
        width: auto;
      }
    }
  }

  &.curiosity-inventory-card {
    .curiosity-card__actions {
      padding-left: 0;
      width: 100%;

      .curiosity-toolbar {
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;

        &__content {
          padding-left: 0;
          padding-right: 0;

          .curiosity-toolbar__group:nth-child(2) {
            margin-left: auto;
          }
        }
      }
    }
  }
}
