.curiosity {
  .curiosity-usage-graph {
    .pf-c-toolbar {
      padding-bottom: inherit;
      padding-top: inherit;

      &__content {
        padding-left: inherit;
        padding-right: inherit;
      }
    }

    .pf-c-card {
      &__header {
        border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 1em;
      }

      &__title {
        flex-grow: 1;
        padding: 0;
        padding-right: var(--pf-c-card__actions--PaddingLeft);
      }

      &__actions {
        display: flex;
        margin: inherit;
        margin-left: auto;
        padding-left: 0;

        @media (max-width: $pf-global--breakpoint--sm) {
          margin-left: inherit;
        }

        & > .curiosity-select {
          width: auto;
        }
      }
    }

    &__total {
      padding-right: var(--pf-global--spacer--sm);
      text-align: right;
      white-space: normal;
      word-break: break-word;
    }

    &__legend-item {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    };

    &__tooltip {
      color: var(--pf-global--Color--light-100);
      font-size: 0.9em;
      padding: 0.3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      table {
        tbody {
        }

        th {
          padding-right: 5px;
          text-align: left;
        }

        td {
          padding-left: 5px;
          text-align: right;
        }

        tbody > tr > th {
          font-weight: normal;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &__totals {
      /**
       * ToDo: consider relocating margin into page-layout once margin is restored to all product layouts
       */
      margin-left: var(--pf-global--spacer--md);
      margin-right: var(--pf-global--spacer--md);
      margin-top: var(--pf-global--spacer--md);

      &:last-child {
        margin-bottom: var(--pf-global--spacer--md);
      };

      &-column {
        height: 100%;

        > :first-child {
          margin-bottom: var(--pf-global--spacer--md);
        }

        &-card {
          min-height: calc(50% - var(--pf-global--spacer--md) / 2);
          overflow: hidden;
          text-align: center;

          .ins-c-skeleton {
            width: 100%;
          }

          .pf-c-card__title {
            padding: var(--pf-global--spacer--md);
            padding-bottom: 0;
          }

          .pf-c-card__body {
            padding: var(--pf-global--spacer--md);

            strong {
              display: block;
              font-size: var(--pf-global--FontSize--3xl);
            }
          }

          .pf-c-card__footer {
            color: var(--pf-global--palette--black-500);
            font-size: var(--pf-global--FontSize--xs);
            padding: var(--pf-global--spacer--md);
            padding-top: 0;
          }
        }
      }

      &-graph-column {
        height: 100%;

        .curiosity-usage-graph {
          height: 100%;
        }

        .pf-c-card {
          &__header {
            border-bottom-width: 0;
            padding-bottom: 0;
          }

          &__body {
            padding-top: 0;
          }
        }
      }
    }
  }

  .curiosity-chartarea {
    &__legend {
      background-color: var(--pf-global--BackgroundColor--100);;
      margin-top: -35px;
      position: relative;

      &-axis-label-active {
        margin-top: -20px;
      }
    }

    &__icon {
      display: inline-block;
      width: 1em;
      height: 1em;

      &-dash {
        vertical-align: middle;

        > span {
          align-items: center;
          display: flex;
          flex-direction: column;

          > svg {}
        }
      }

      &-threshold {}
    }

    &__tooltip {
      &-container {
        margin: auto;
        max-width: 300px;
        min-width: 150px;
        overflow: hidden;
        position: relative;
      }

      transition: width 1s ease-in-out, left 1s ease-in-out;
      background-color: #000;
      margin-left: 10px;
      margin-right: 15px;

      &-left:before,
      &-right:after {
        border-width: 10px;
        border-style: solid;
        border-color: transparent #000 transparent transparent;
        content: "";
        left: -9px;  //-10px Compensate for Firefox pixel diff, match margin-left
        margin-left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &-right:after {
        border-color: transparent transparent transparent #000;
        left: calc(100% - 16px); //-15px Compensate for Firefox pixel diff, match margin-right
        margin-left: 0;
      }
    }

    &__axis-label-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--pf-global--palette--black-500);
      font-size: var(--pf-global--FontSize--xs);

      &-x {
        > .curiosity-chartarea__axis-label-container-content {
          position: absolute;
          top: 5px;
        }
      }

      &-y {
        justify-content: unset;

        > .curiosity-chartarea__axis-label-container-content {
          position: absolute;
          left: calc(var(--pf-global--FontSize--xs) / 2);
          transform: rotate(-90deg) translateY(0%) translateX(-50%);
          transform-origin: left center;
        }
      }

      &-y-1 {
        justify-content: unset;
        left: calc(100% - var(--pf-global--FontSize--xs));

        > .curiosity-chartarea__axis-label-container-content {
          transform: rotate(90deg) translateY(0%) translateX(-50%);
        }
      }
    }

    > .pf-c-chart > svg > line[role="presentation"][vector-effect="non-scaling-stroke"] {
      position: relative;
      stroke: var(--pf-global--palette--black-900) !important;
    }
  }
}
