.curiosity {
  /**
   * Styling for graphCard component
   */
  &-usage-graph {
    box-shadow: none !important;
    background-color: var(--pf-global--BackgroundColor--100);
    margin-top: var(--pf-global--spacer--md);

    &:last-child {
      margin-bottom: var(--pf-global--spacer--md);
    }

    .pf-c-card {
      &__header {
        border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 1em;
      }

      &__title {
        flex-grow: 1;
        padding: 0;
      }

      &__actions {
        display: flex;
        margin: inherit;
        margin-left: auto;
        padding-left: 0;

        @media (max-width: $pf-global--breakpoint--sm) {
          margin-left: inherit;
        }

        & > .curiosity-select {
          width: auto;
        }
      }
    }

    &__tooltip {
      color: var(--pf-global--Color--light-100);
      font-size: 0.9em;
      padding: 0.3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      table {
        tbody {
        }

        th {
          padding-right: 5px;
          text-align: left;
        }

        td {
          padding-left: 5px;
          text-align: right;
        }

        tbody > tr > th {
          font-weight: normal;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &__legend-item-wrapper {
      > .pf-c-button {
        padding-left: 0;
        padding-right: 0;
      }

      @media (min-width: $pf-global--breakpoint--lg) {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }

    &__standalone {
      margin-left: var(--pf-global--spacer--md);
      margin-right: var(--pf-global--spacer--md);
      margin-top: var(--pf-global--spacer--md);
    }

    &__totals {
      background-color: var(--pf-global--BackgroundColor--100);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: var(--pf-global--spacer--md);
      margin-right: var(--pf-global--spacer--md);
      margin-top: var(--pf-global--spacer--md);

      &:last-child {
        margin-bottom: var(--pf-global--spacer--md);
      }

      @media (min-width: $pf-global--breakpoint--md) {
        flex-direction: row;
        justify-content: start;
      }

      &:last-child {
        margin-bottom: var(--pf-global--spacer--md);
      };

      > div {
        display: flex;

        &:first-child {
          @media (max-width: $pf-global--breakpoint--md) {
            align-self: stretch;
          }
          @media (min-width: $pf-global--breakpoint--md) {
            width: 25%;
            min-width: 260px;
          }
        }

        &:last-child {
          @media (min-width: $pf-global--breakpoint--md) {
            flex: 3;
          }
        }
      }

      &-column {
        margin-left: var(--pf-global--spacer--sm);
        margin-right: var(--pf-global--spacer--sm);
        margin-top: var(--pf-global--spacer--lg);
        margin-bottom: var(--pf-global--spacer--lg);
        width: 100%;

        .pf-c-card {
          height: calc(50%);
          text-align: center;
          width: 100%;

          &:first-child {
            border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
            padding-bottom: calc(var(--pf-global--spacer--lg) / 2);
          }

          &:last-child {
            padding-top: calc(var(--pf-global--spacer--lg) / 2);
          }

          &__header {
            display: block;
            padding-top: inherit;
          }

          &__title {
            h2, h3 {
              line-height: var(--pf-global--FontSize--3xl);
            }
          }

          &__body {
            strong {
              display: block;
              font-size: var(--pf-global--FontSize--3xl);
            }
          }

          &__footer {
            color: var(--pf-global--palette--black-500);
            font-size: var(--pf-global--FontSize--xs);
          }
        }
      }

      &-graph-column {
        margin-bottom: var(--pf-global--spacer--lg);
        margin-right: var(--pf-global--spacer--sm);
        margin-top: var(--pf-global--spacer--lg);
        padding-left: var(--pf-global--spacer--sm);
        width: 100%;

        @media (min-width: $pf-global--breakpoint--md) {
          padding-left: var(--pf-global--spacer--lg);
          border-left: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
        }

        .pf-c-card {
          &__header {
            align-items: flex-start;
            border-bottom-width: 0;
            padding: inherit;
          }

          &__title {
          }

          &__actions {
          }

          &__body {
            padding: inherit;
          }
        }
      }
    }

    .pf-c-toolbar {
      padding-bottom: inherit;
      padding-top: inherit;

      &__content {
        padding-left: inherit;
        padding-right: inherit;
      }
    }
  }


  /**
   * Styling for general chart component Victory wrapper.
   * Pixels are used as related to SVG display dimensions.
   */
  &-chartarea {
    &__legend {
      background-color: var(--pf-global--BackgroundColor--100);
      margin-top: -35px;
      position: relative;

      &-axis-label-active {
        margin-top: -20px;
      }
    }

    &__icon {
      display: inline-block;
      width: 1em;
      height: 1em;

      &-dash {
        vertical-align: middle;

        > span {
          align-items: center;
          display: flex;
          flex-direction: column;

          > svg {}
        }
      }

      &-threshold {}
    }

    &__tooltip {
      &-container {
        margin: auto;
        max-width: 300px;
        min-width: 150px;
        overflow: hidden;
        position: relative;
      }

      transition: width 1s ease-in-out, left 1s ease-in-out;
      background-color: var(--pf-global--palette--black-1000);
      color: var(--pf-global--Color--light-100);
      margin-left: 10px;
      margin-right: 15px;

      &-left:before,
      &-right:after {
        border-width: 10px;
        border-style: solid;
        border-color: transparent var(--pf-global--palette--black-1000) transparent transparent;
        content: "";
        left: -9px;  //-10px Compensate for Firefox pixel diff, match margin-left
        margin-left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &-right:after {
        border-color: transparent transparent transparent var(--pf-global--palette--black-1000);
        left: calc(100% - 16px); //-15px Compensate for Firefox pixel diff, match margin-right
        margin-left: 0;
      }
    }

    &__axis-label-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--pf-global--palette--black-500);
      font-size: var(--pf-global--FontSize--xs);

      &-x {
        > .curiosity-chartarea__axis-label-container-content {
          position: absolute;
          top: 5px;
        }
      }

      &-y {
        justify-content: unset;

        > .curiosity-chartarea__axis-label-container-content {
          position: absolute;
          left: calc(var(--pf-global--FontSize--xs) / 2);
          transform: rotate(-90deg) translateY(0%) translateX(-50%);
          transform-origin: left center;
        }
      }

      &-y-1 {
        justify-content: unset;
        left: calc(100% - var(--pf-global--FontSize--xs));

        > .curiosity-chartarea__axis-label-container-content {
          transform: rotate(90deg) translateY(0%) translateX(-50%);
        }
      }
    }

    > .pf-c-chart > svg > line[role="presentation"][vector-effect="non-scaling-stroke"] {
      position: relative;
      stroke: var(--pf-global--palette--black-900) !important;
    }
  }
}
