.mock-header {
  min-height: 4.25rem;
  background-color: var(--pf-t--global--background--color--400);
}

section.pf-v6-l-page-header {
  margin: 1.25rem;

  h1 {
    margin-bottom: .25rem;
  }
}

.curiosity  {}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
